In [1]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib as plt

In [13]:
#creating a dictionary to map names and file paths
file_paths = {'Affinity - National - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity - National - Daily.csv", 
              'Affinity - State - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity - State - Daily.csv", 
              'Affinity Daily Total Spending - National' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity Daily Total Spending - National.csv", 
              'COVID - National - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\COVID - National - Daily.csv", 
              'COVID - State - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\COVID - State - Daily.csv", 
              'Employment - National - Weekly' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Employment - National - Weekly.csv", 
              'Employment - State - Weekly' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Employment - State - Weekly.csv", 
              'GeoIDs - County' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\GeoIDs - County.csv", 
              'GeoIDs - State' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\GeoIDs - State.csv"
             }

In [16]:
#loading the CSV files into a dictionary of dataframes

dataframes = {}

for file_name, file_path in file_paths.items():
    try:
        df = pd.read_csv(file_path, low_memory=False) #loading the CSV file into a Dataframe
        dataframes[file_name] = df #storing dataframe in dictionary
        
        #displaying the first few rows of each df
        print(f"Preview of {file_name}:")
        display(df.head())
        print("\n")
    
    except Exception as e:
        print(f"Error loading P{file_name}: {e}")

Preview of Affinity - National - Daily:

,year,month,day,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,spend_durables,...,spend_s_all_q1,spend_s_all_q2,spend_s_all_q3,spend_s_all_q4,spend_s_inperson,spend_s_retail_no_grocery,spend_s_retail_w_grocery,spend_19_retail_no_grocery,spend_19_retail_w_grocery,provisional
0,2018,12,31,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2019,1,1,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2019,1,2,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2019,1,3,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2019,1,4,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Affinity - State - Daily:

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_sgh,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Affinity Daily Total Spending - National:

,day,month,year,daily_spend_19_all,daily_spend_19_q1,daily_spend_19_q2,daily_spend_19_q3,daily_spend_19_q4
0,31,12,2018,0.154,0.129,0.130,0.152,0.178
1,1,1,2019,-0.216,-0.274,-0.261,-0.224,-0.165
2,2,1,2019,0.191,0.163,0.163,0.182,0.226
3,3,1,2019,0.204,0.252,0.201,0.191,0.197
4,4,1,2019,0.218,0.299,0.235,0.210,0.186

Preview of COVID - National - Daily:

,year,month,day,new_case_count,case_count,new_death_count,death_count,new_test_count,test_count,new_vaccine_count,...,death_rate,new_test_rate,test_rate,new_vaccine_rate,vaccine_rate,new_fullvaccine_rate,fullvaccine_rate,new_booster_first_rate,booster_first_rate,hospitalized_rate
0,2020,1,7,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
1,2020,1,8,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
2,2020,1,9,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
3,2020,1,10,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
4,2020,1,11,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0

Preview of COVID - State - Daily:

,year,month,day,statefips,new_case_count,new_death_count,case_count,death_count,vaccine_count,fullvaccine_count,...,death_rate,new_test_rate,test_rate,new_vaccine_rate,vaccine_rate,new_fullvaccine_rate,fullvaccine_rate,new_booster_first_rate,booster_first_rate,hospitalized_rate
0,2020,1,7,15,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2020,1,7,18,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2020,1,7,27,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2020,1,7,30,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2020,1,7,37,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Employment - National - Weekly:

,year,month,day_endofweek,emp,emp_incq1,emp_incq2,emp_incq3,emp_incq4,emp_incmiddle,emp_incbelowmed,...,emp_subset_reweighted_q3,emp_retail,emp_s72,emp_retail_inclow,emp_retail_incmiddle,emp_retail_inchigh,emp_ss40,emp_ss60,emp_ss65,emp_ss70
0,2020,1,17,0.001020,0.00168,-0.000104,0.003020,-.00054,0.00137,0.000510,...,0.002860,0.000224,0.000354,0.00179,0.000701,-.00479,0.000688,0.001710,0.000839,0.000568
1,2020,1,24,0.000432,-0.00146,0.002150,0.001590,-.0023,0.00188,0.000909,...,0.001430,-0.000726,0.002230,-0.00363,0.002390,-.00988,-0.000013,-0.000564,0.001230,0.002070
2,2020,1,31,-0.000136,-0.00380,0.003070,-0.000409,-.00177,0.00143,0.000713,...,-0.000621,-0.001600,0.001470,-0.00853,0.001510,-.00347,-0.000962,-0.001420,0.003100,0.001760
3,2020,2,7,0.000335,-0.00709,0.003520,0.000527,.00114,0.00211,-0.000118,...,0.000401,-0.002540,0.001210,-0.01300,0.000824,.000704,-0.001180,0.000116,0.005710,0.002190
4,2020,2,14,0.001220,-0.00991,0.001480,0.004290,.00561,0.00281,-0.002430,...,0.003940,-0.001990,0.002550,-0.01110,0.001570,-.00205,-0.001230,0.001840,0.006930,0.003840

Preview of Employment - State - Weekly:

,year,month,day_endofweek,statefips,emp,emp_incq1,emp_incq2,emp_incq3,emp_incq4,emp_incmiddle,emp_incbelowmed,emp_incabovemed,emp_ss40,emp_ss60,emp_ss65,emp_ss70
0,2020,1,17,1,.0015,.00843,-.00623,.00501,-.00402,-.001,.00138,.00168,.0119,.000786,-.00168,.00181
1,2020,1,17,2,-.00124,.0378,.00208,-.0129,-.0034,-.00473,.00807,-.00864,-.00128,-.00415,-.00908,-.019
2,2020,1,17,4,-.00213,.00141,-.00762,.00408,-.00436,-.00261,-.00451,.000878,.000546,-.00929,.000793,-.00155
3,2020,1,17,5,-.00644,-.00751,-.00968,.000363,-.00807,-.00528,-.00845,-.00255,-.0149,.000637,.0198,-.0396
4,2020,1,17,6,.00103,-.00298,.00089,.00268,-.000241,.00169,.000514,.00143,.000779,.00292,-.00145,-.000607

Preview of GeoIDs - County:

,countyfips,countyname,cityid,cityname,cz,czname,statename,statefips,stateabbrev,county_pop2019
0,1001,Autauga,NaN,NaN,11101.0,Montgomery,Alabama,1,AL,55869
1,1003,Baldwin,NaN,NaN,11001.0,Mobile,Alabama,1,AL,223234
2,1005,Barbour,NaN,NaN,10301.0,Eufaula,Alabama,1,AL,24686
3,1007,Bibb,NaN,NaN,10801.0,Tuscaloosa,Alabama,1,AL,22394
4,1009,Blount,NaN,NaN,10700.0,Birmingham,Alabama,1,AL,57826

Preview of GeoIDs - State:

   statefips   statename stateabbrev  state_pop2019
0          1     Alabama          AL        4903185
1          2      Alaska          AK         731545
2          4     Arizona          AZ        7278717
3          5    Arkansas          AR        3017804
4          6  California          CA       39512223

In [19]:
list(dataframes.keys())

['Affinity - National - Daily',
 'Affinity - State - Daily',
 'Affinity Daily Total Spending - National',
 'COVID - National - Daily',
 'COVID - State - Daily',
 'Employment - National - Weekly',
 'Employment - State - Weekly',
 'GeoIDs - County',
 'GeoIDs - State']