In [5]:
# import dependencies
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np

In [12]:
# load in data
cases_data = pd.read_csv("data/cleaned/confirmed_covid_cases_cleaned.csv")
cases_data

,state,state_abv,state_id,date,cases,population,cases_per_cap
0,Alabama,AL,1,2020-01-22,0,5031864,0.000000
1,Alabama,AL,1,2020-01-23,0,5031864,0.000000
2,Alabama,AL,1,2020-01-24,0,5031864,0.000000
3,Alabama,AL,1,2020-01-25,0,5031864,0.000000
4,Alabama,AL,1,2020-01-26,0,5031864,0.000000
...,...,...,...,...,...,...,...
64511,District of Columbia,DC,51,2023-07-19,169149,21591299,0.007834
64512,District of Columbia,DC,51,2023-07-20,169149,21591299,0.007834
64513,District of Columbia,DC,51,2023-07-21,169149,21591299,0.007834
64514,District of Columbia,DC,51,2023-07-22,169149,21591299,0.007834
64515,District of Columbia,DC,51,2023-07-23,169149,21591299,0.007834

In [13]:
# check data types
cases_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64516 entries, 0 to 64515
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          64516 non-null  object
 1   state_abv      64516 non-null  object
 2   state_id       64516 non-null  int64
 3   date           64516 non-null  object
 4   cases          64516 non-null  int64
 5   population     64516 non-null  int64
 6   cases_per_cap  64516 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.4+ MB

In [26]:
# rearrange in a df
df = pd.DataFrame({
    "state_id" : cases_data["state_id"],
    "state_abv" : cases_data["state_abv"],
    "state" : cases_data["state"],
    "date" : cases_data["date"],
    "cases" : cases_data["cases"],
    "population" : cases_data["population"],
    "cases_per_cap" : cases_data["cases_per_cap"]
})
df

,state_id,state_abv,state,date,cases,population,cases_per_cap
0,1,AL,Alabama,2020-01-22,0,5031864,0.000000
1,1,AL,Alabama,2020-01-23,0,5031864,0.000000
2,1,AL,Alabama,2020-01-24,0,5031864,0.000000
3,1,AL,Alabama,2020-01-25,0,5031864,0.000000
4,1,AL,Alabama,2020-01-26,0,5031864,0.000000
...,...,...,...,...,...,...,...
64511,51,DC,District of Columbia,2023-07-19,169149,21591299,0.007834
64512,51,DC,District of Columbia,2023-07-20,169149,21591299,0.007834
64513,51,DC,District of Columbia,2023-07-21,169149,21591299,0.007834
64514,51,DC,District of Columbia,2023-07-22,169149,21591299,0.007834
64515,51,DC,District of Columbia,2023-07-23,169149,21591299,0.007834

In [27]:
# convert date to datetime format
df["date"] = pd.to_datetime(cases_df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64516 entries, 0 to 64515
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state_id       64516 non-null  int64
 1   state_abv      64516 non-null  object
 2   state          64516 non-null  object
 3   date           64516 non-null  datetime64[ns]
 4   cases          64516 non-null  int64
 5   population     64516 non-null  int64
 6   cases_per_cap  64516 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 3.4+ MB

In [28]:
# export to a json file
df.to_json("data/cleaned/cases.json")

In [31]:
# drop 2022 and 2023
df2 = df[(df['date'].dt.year < 2022) | (df['date'].dt.year > 2023)]

In [32]:
df2

,state_id,state_abv,state,date,cases,population,cases_per_cap
0,1,AL,Alabama,2020-01-22,0,5031864,0.000000
1,1,AL,Alabama,2020-01-23,0,5031864,0.000000
2,1,AL,Alabama,2020-01-24,0,5031864,0.000000
3,1,AL,Alabama,2020-01-25,0,5031864,0.000000
4,1,AL,Alabama,2020-01-26,0,5031864,0.000000
...,...,...,...,...,...,...,...
63956,51,DC,District of Columbia,2021-12-27,88765,21591299,0.004111
63957,51,DC,District of Columbia,2021-12-28,90633,21591299,0.004198
63958,51,DC,District of Columbia,2021-12-29,92045,21591299,0.004263
63959,51,DC,District of Columbia,2021-12-30,94286,21591299,0.004367
63960,51,DC,District of Columbia,2021-12-31,94286,21591299,0.004367

In [33]:
df2.to_csv("data/cleaned/confirmed_covid_cases_2020_2021.csv")
df2.to_json("data/cleaned/cases_2020_2021.json")