# Loading files

In [2]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib as plt

In [3]:
#creating a dictionary to map names and file paths
file_paths = {'Affinity - National - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity - National - Daily.csv", 
              'Affinity - State - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity - State - Daily.csv", 
              'Affinity Daily Total Spending - National' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Affinity Daily Total Spending - National.csv", 
              'COVID - National - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\COVID - National - Daily.csv", 
              'COVID - State - Daily' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\COVID - State - Daily.csv", 
              'Employment - National - Weekly' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Employment - National - Weekly.csv", 
              'Employment - State - Weekly' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\Employment - State - Weekly.csv", 
              'GeoIDs - County' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\GeoIDs - County.csv", 
              'GeoIDs - State' : r"C:\Users\jovan\OneDrive\Desktop\datasets_for_project3\GeoIDs - State.csv"
             }

In [4]:
#loading the CSV files into a dictionary of dataframes

dataframes = {} #empty dictionary to hold dfs

for file_name, file_path in file_paths.items():
    try:
        df = pd.read_csv(file_path, low_memory=False) #loading the CSV file into a Dataframe
        dataframes[file_name] = df #storing dataframe in dictionary
        
        #displaying the first few rows of each df
        print(f"Preview of {file_name}:")
        display(df.head())
        print("\n")
    
    except Exception as e:
        print(f"Error loading P{file_name}: {e}")

Preview of Affinity - National - Daily:

,year,month,day,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,spend_durables,...,spend_s_all_q1,spend_s_all_q2,spend_s_all_q3,spend_s_all_q4,spend_s_inperson,spend_s_retail_no_grocery,spend_s_retail_w_grocery,spend_19_retail_no_grocery,spend_19_retail_w_grocery,provisional
0,2018,12,31,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2019,1,1,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2019,1,2,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2019,1,3,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2019,1,4,d,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Affinity - State - Daily:

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_sgh,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Affinity Daily Total Spending - National:

,day,month,year,daily_spend_19_all,daily_spend_19_q1,daily_spend_19_q2,daily_spend_19_q3,daily_spend_19_q4
0,31,12,2018,0.154,0.129,0.130,0.152,0.178
1,1,1,2019,-0.216,-0.274,-0.261,-0.224,-0.165
2,2,1,2019,0.191,0.163,0.163,0.182,0.226
3,3,1,2019,0.204,0.252,0.201,0.191,0.197
4,4,1,2019,0.218,0.299,0.235,0.210,0.186

Preview of COVID - National - Daily:

,year,month,day,new_case_count,case_count,new_death_count,death_count,new_test_count,test_count,new_vaccine_count,...,death_rate,new_test_rate,test_rate,new_vaccine_rate,vaccine_rate,new_fullvaccine_rate,fullvaccine_rate,new_booster_first_rate,booster_first_rate,hospitalized_rate
0,2020,1,7,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
1,2020,1,8,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
2,2020,1,9,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
3,2020,1,10,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0
4,2020,1,11,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0.0

Preview of COVID - State - Daily:

,year,month,day,statefips,new_case_count,new_death_count,case_count,death_count,vaccine_count,fullvaccine_count,...,death_rate,new_test_rate,test_rate,new_vaccine_rate,vaccine_rate,new_fullvaccine_rate,fullvaccine_rate,new_booster_first_rate,booster_first_rate,hospitalized_rate
0,2020,1,7,15,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2020,1,7,18,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2020,1,7,27,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2020,1,7,30,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2020,1,7,37,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

Preview of Employment - National - Weekly:

,year,month,day_endofweek,emp,emp_incq1,emp_incq2,emp_incq3,emp_incq4,emp_incmiddle,emp_incbelowmed,...,emp_subset_reweighted_q3,emp_retail,emp_s72,emp_retail_inclow,emp_retail_incmiddle,emp_retail_inchigh,emp_ss40,emp_ss60,emp_ss65,emp_ss70
0,2020,1,17,0.001020,0.00168,-0.000104,0.003020,-.00054,0.00137,0.000510,...,0.002860,0.000224,0.000354,0.00179,0.000701,-.00479,0.000688,0.001710,0.000839,0.000568
1,2020,1,24,0.000432,-0.00146,0.002150,0.001590,-.0023,0.00188,0.000909,...,0.001430,-0.000726,0.002230,-0.00363,0.002390,-.00988,-0.000013,-0.000564,0.001230,0.002070
2,2020,1,31,-0.000136,-0.00380,0.003070,-0.000409,-.00177,0.00143,0.000713,...,-0.000621,-0.001600,0.001470,-0.00853,0.001510,-.00347,-0.000962,-0.001420,0.003100,0.001760
3,2020,2,7,0.000335,-0.00709,0.003520,0.000527,.00114,0.00211,-0.000118,...,0.000401,-0.002540,0.001210,-0.01300,0.000824,.000704,-0.001180,0.000116,0.005710,0.002190
4,2020,2,14,0.001220,-0.00991,0.001480,0.004290,.00561,0.00281,-0.002430,...,0.003940,-0.001990,0.002550,-0.01110,0.001570,-.00205,-0.001230,0.001840,0.006930,0.003840

Preview of Employment - State - Weekly:

,year,month,day_endofweek,statefips,emp,emp_incq1,emp_incq2,emp_incq3,emp_incq4,emp_incmiddle,emp_incbelowmed,emp_incabovemed,emp_ss40,emp_ss60,emp_ss65,emp_ss70
0,2020,1,17,1,.0015,.00843,-.00623,.00501,-.00402,-.001,.00138,.00168,.0119,.000786,-.00168,.00181
1,2020,1,17,2,-.00124,.0378,.00208,-.0129,-.0034,-.00473,.00807,-.00864,-.00128,-.00415,-.00908,-.019
2,2020,1,17,4,-.00213,.00141,-.00762,.00408,-.00436,-.00261,-.00451,.000878,.000546,-.00929,.000793,-.00155
3,2020,1,17,5,-.00644,-.00751,-.00968,.000363,-.00807,-.00528,-.00845,-.00255,-.0149,.000637,.0198,-.0396
4,2020,1,17,6,.00103,-.00298,.00089,.00268,-.000241,.00169,.000514,.00143,.000779,.00292,-.00145,-.000607

Preview of GeoIDs - County:

,countyfips,countyname,cityid,cityname,cz,czname,statename,statefips,stateabbrev,county_pop2019
0,1001,Autauga,NaN,NaN,11101.0,Montgomery,Alabama,1,AL,55869
1,1003,Baldwin,NaN,NaN,11001.0,Mobile,Alabama,1,AL,223234
2,1005,Barbour,NaN,NaN,10301.0,Eufaula,Alabama,1,AL,24686
3,1007,Bibb,NaN,NaN,10801.0,Tuscaloosa,Alabama,1,AL,22394
4,1009,Blount,NaN,NaN,10700.0,Birmingham,Alabama,1,AL,57826

Preview of GeoIDs - State:

   statefips   statename stateabbrev  state_pop2019
0          1     Alabama          AL        4903185
1          2      Alaska          AK         731545
2          4     Arizona          AZ        7278717
3          5    Arkansas          AR        3017804
4          6  California          CA       39512223

In [5]:
list(dataframes.keys()) #listing the keys (names of each csv file) just for reference

['Affinity - National - Daily',
 'Affinity - State - Daily',
 'Affinity Daily Total Spending - National',
 'COVID - National - Daily',
 'COVID - State - Daily',
 'Employment - National - Weekly',
 'Employment - State - Weekly',
 'GeoIDs - County',
 'GeoIDs - State']

# Performing calculations for % change in consumer spending per state, industry

In [6]:
#creating a new df from 'Affinity - State - Daily'

state_daily = dataframes["Affinity - State - Daily"]

state_daily.head()

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_sgh,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,0

In [7]:
state_daily.dtypes

year                        int64
month                       int64
day                         int64
statefips                   int64
freq                       object
spend_all                  object
spend_aap                  object
spend_acf                  object
spend_aer                  object
spend_apg                  object
spend_durables             object
spend_nondurables          object
spend_grf                  object
spend_gen                  object
spend_hic                  object
spend_hcs                  object
spend_inperson             object
spend_inpersonmisc         object
spend_remoteservices       object
spend_sgh                  object
spend_tws                  object
spend_retail_w_grocery     object
spend_retail_no_grocery    object
spend_all_incmiddle        object
spend_all_q1               object
spend_all_q2               object
spend_all_q3               object
spend_all_q4               object
provisional                 int64
dtype: object

In [8]:
#creating the mapping for the new column "state_name"
state_mapping = {
    1: 'Alabama',
    2: 'Alaska',
    4: 'Arizona',
    5: 'Arkansas',
    6: 'California',
    8: 'Colorado',
    9: 'Connecticut',
    10: 'Delaware',
    11: 'District of Columbia',
    12: 'Florida',
    13: 'Georgia',
    15: 'Hawaii',
    16: 'Idaho',
    17: 'Illinois',
    18: 'Indiana',
    19: 'Iowa',
    20: 'Kansas',
    21: 'Kentucky',
    22: 'Louisiana',
    23: 'Maine',
    24: 'Maryland',
    25: 'Massachusetts',
    26: 'Michigan',
    27: 'Minnesota',
    28: 'Mississippi',
    29: 'Missouri',
    30: 'Montana',
    31: 'Nebraska',
    32: 'Nevada',
    33: 'New Hampshire',
    34: 'New Jersey',
    35: 'New Mexico',
    36: 'New York',
    37: 'North Carolina',
    38: 'North Dakota',
    39: 'Ohio',
    40: 'Oklahoma',
    41: 'Oregon',
    42: 'Pennsylvania',
    44: 'Rhode Island',
    45: 'South Carolina',
    46: 'South Dakota',
    47: 'Tennessee',
    48: 'Texas',
    49: 'Utah',
    50: 'Vermont',
    51: 'Virginia',
    53: 'Washington',
    54: 'West Virginia',
    55: 'Wisconsin',
    56: 'Wyoming'
}

#creating the new column state_name using the mapping created above
state_daily['state_name'] = state_daily['statefips'].map(state_mapping)

In [9]:
state_daily.head()

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional,state_name
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,0,Alabama
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,0,Alaska
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,0,Arizona
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,0,Arkansas
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,.,0,California

In [10]:
#creating the mapping for the new column "month_name"
month_mapping = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

#creating new column for month name
state_daily["month_name"] = state_daily["month"].map(month_mapping)

In [11]:
state_daily.head()

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional,state_name,month_name
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Alabama,December
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Alaska,December
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Arizona,December
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Arkansas,December
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,California,December

In [12]:
#dropping unnecessary columns
state_daily.drop(["provisional", "month", "freq", "spend_all_q1", "spend_all_q2", "spend_all_q3", "spend_all_q4", "statefips"], axis=1)

,year,day,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,spend_durables,spend_nondurables,spend_grf,...,spend_inperson,spend_inpersonmisc,spend_remoteservices,spend_sgh,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,state_name,month_name
0,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,Alabama,December
1,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,Alaska,December
2,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,Arizona,December
3,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,Arkansas,December
4,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,California,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49363,2023,17,.153,-.00335,.158,.286,.137,.0128,.106,.0666,...,.187,.163,.348,-.0752,.22,.0732,.0732,.138,Virginia,December
49364,2023,17,.0403,-.0895,-.0163,-.0368,.0201,-.0512,.0153,.00305,...,-.0349,-.0646,.159,-.00615,-.177,-.0157,-.0243,.0857,Washington,December
49365,2023,17,.238,-.00996,.257,2.26,.275,.186,.128,.0616,...,.336,.109,.43,.194,.523,.159,.264,.218,West Virginia,December
49366,2023,17,.135,-.06,.145,.00764,.218,.0526,.0895,.0503,...,.0669,-.0992,.334,-.0763,-.003,.0873,.118,.149,Wisconsin,December
49367,2023,17,.193,.112,.215,.463,.559,.0928,.179,.025,...,.218,-.167,.367,.0734,.417,.175,.32,.172,Wyoming,December

In [13]:
state_daily

,year,month,day,statefips,freq,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,...,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,spend_all_q1,spend_all_q2,spend_all_q3,spend_all_q4,provisional,state_name,month_name
0,2018,12,31,1,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Alabama,December
1,2018,12,31,2,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Alaska,December
2,2018,12,31,4,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Arizona,December
3,2018,12,31,5,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,Arkansas,December
4,2018,12,31,6,d,.,.,.,.,.,...,.,.,.,.,.,.,.,0,California,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49363,2023,12,17,51,w,.153,-.00335,.158,.286,.137,...,.0732,.0732,.138,.233,.135,.14,.126,1,Virginia,December
49364,2023,12,17,53,w,.0403,-.0895,-.0163,-.0368,.0201,...,-.0157,-.0243,.0857,-.186,.0354,.108,.0134,1,Washington,December
49365,2023,12,17,54,w,.238,-.00996,.257,2.26,.275,...,.159,.264,.218,.253,.279,.175,.131,1,West Virginia,December
49366,2023,12,17,55,w,.135,-.06,.145,.00764,.218,...,.0873,.118,.149,.102,.171,.128,.106,1,Wisconsin,December
49367,2023,12,17,56,w,.193,.112,.215,.463,.559,...,.175,.32,.172,.278,.248,.096,.201,1,Wyoming,December

In [14]:
state_abbreviations = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

#creating new column for states 2 letter abbreviations
state_daily["2_letter_abb"] = state_daily['state_name'].map(state_abbreviations)

#dropping unnecessary columns
state_daily.drop(["provisional", "month", "freq", "spend_all_q1", "spend_all_q2", "spend_all_q3", "spend_all_q4", "statefips"], axis=1)

,year,day,spend_all,spend_aap,spend_acf,spend_aer,spend_apg,spend_durables,spend_nondurables,spend_grf,...,spend_inpersonmisc,spend_remoteservices,spend_sgh,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,spend_all_incmiddle,state_name,month_name,2_letter_abb
0,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,Alabama,December,AL
1,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,Alaska,December,AK
2,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,Arizona,December,AZ
3,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,Arkansas,December,AR
4,2018,31,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,California,December,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49363,2023,17,.153,-.00335,.158,.286,.137,.0128,.106,.0666,...,.163,.348,-.0752,.22,.0732,.0732,.138,Virginia,December,VA
49364,2023,17,.0403,-.0895,-.0163,-.0368,.0201,-.0512,.0153,.00305,...,-.0646,.159,-.00615,-.177,-.0157,-.0243,.0857,Washington,December,WA
49365,2023,17,.238,-.00996,.257,2.26,.275,.186,.128,.0616,...,.109,.43,.194,.523,.159,.264,.218,West Virginia,December,WV
49366,2023,17,.135,-.06,.145,.00764,.218,.0526,.0895,.0503,...,-.0992,.334,-.0763,-.003,.0873,.118,.149,Wisconsin,December,WI
49367,2023,17,.193,.112,.215,.463,.559,.0928,.179,.025,...,-.167,.367,.0734,.417,.175,.32,.172,Wyoming,December,WY

In [15]:
#simplifying dataset
selected_columns = ['state_name', '2_letter_abb', 'year', 'month_name', 'day', 'spend_all']

state_wide_perchng = state_daily[selected_columns].copy()

In [16]:
state_wide_perchng

          state_name 2_letter_abb  year month_name  day spend_all
0            Alabama           AL  2018   December   31         .
1             Alaska           AK  2018   December   31         .
2            Arizona           AZ  2018   December   31         .
3           Arkansas           AR  2018   December   31         .
4         California           CA  2018   December   31         .
...              ...          ...   ...        ...  ...       ...
49363       Virginia           VA  2023   December   17      .153
49364     Washington           WA  2023   December   17     .0403
49365  West Virginia           WV  2023   December   17      .238
49366      Wisconsin           WI  2023   December   17      .135
49367        Wyoming           WY  2023   December   17      .193

[49368 rows x 6 columns]

In [17]:
state_wide_perchng.dtypes

state_name      object
2_letter_abb    object
year             int64
month_name      object
day              int64
spend_all       object
dtype: object

In [24]:
state_wide_perchng['spend_all'] = pd.to_numeric(state_wide_perchng['spend_all'], errors='coerce')

# Calculate cumulative percentage change
state_wide_perchng['cumulative_percent_change'] = (
    state_wide_perchng.groupby(['state_name', 'year'])['spend_all']
    .pct_change()
    .add(1)
    .cumprod()
    .sub(1)
    .mul(100)
)

# Drop NaN values resulting from the first row of each group
state_wide_perchng.dropna(subset=['cumulative_percent_change'], inplace=True)

In [25]:
state_wide_perchng

,state_name,2_letter_abb,year,month_name,day,spend_all,cumulative_percent_change
714,Alabama,AL,2020,January,14,-0.029300,2.259414e+01
715,Alaska,AK,2020,January,14,0.000879,-8.706360e+01
716,Arizona,AZ,2020,January,14,0.003960,-1.048328e+02
717,Arkansas,AR,2020,January,14,-0.055400,-1.055548e+02
718,California,CA,2020,January,14,-0.002160,-1.008570e+02
...,...,...,...,...,...,...,...
49363,Virginia,VA,2023,December,17,0.153000,-4.198624e+63
49364,Washington,WA,2023,December,17,0.040300,-3.317736e+63
49365,West Virginia,WV,2023,December,17,0.238000,-3.262898e+63
49366,Wisconsin,WI,2023,December,17,0.135000,-3.640423e+63
49367,Wyoming,WY,2023,December,17,0.193000,-3.797847e+63